@*
    ViewData["Title"] = "Privacy Policy";
*@
@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<p>Khai and Virroshan are the greatest dev, they were born before coding exist.</p>